<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
        <a class="navbar-brand" href="#">Social Login</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/">
                <i class="fas fa-home"></i> Inicio</a>
            </li>
            <li class="nav-item active" *ngIf="isLogged">
              <a class="nav-link" routerLink="/lista">
                <i class="fas fa-list"></i> Lista</a>
            </li>
          </ul>

          <ul class="navbar-nav ml-auto" *ngIf="isLogged">
              <li class="nav-item disabled">
                  <a class="nav-link" >
                  {{userLogged.name}}
                </a>
                </li>
          </ul>

          <img *ngIf="isLogged" src="{{userLogged.photoUrl}}" class="rounded-circle mr-3" style="width: 50px">

          <button *ngIf="!isLogged" class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="/login">
            <i class="fas fa-sign-in-alt fa-lg"></i> Iniciar Sesión</button>
            <button *ngIf="isLogged" class="btn btn-outline-danger my-2 my-sm-0" type="submit" (click)="logOut()">
              <i class="fas fa-sign-out-alt fa-lg"></i> Cerrar Sesión</button>

        </div>
      </nav>